<%- include("../layouts/header", {title: title}) %>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-center mt-4 mb-4"><%= title %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-around">404 Page not found</div>
  </div>
</div>

<%- include("../layouts/footer") %>
