<%- include("../layouts/header", {title: title}) %>
<div class="container">
  <div class="row">
    <div class="col"><%- include("form", {book}) %></div>
  </div>
</div>
<%- include("../layouts/footer") %>
